* {
    padding: 0;
    margin: 0;
}

.wrap {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}

.comments {
    width: 40%;
    height: 100%;
    background-color: blue;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}

.comments:hover {
    cursor: pointer;
    transition: all .45 linear;
    background-color:indigo;
}

.todos {
    width: 40%;
    height: 100%;
    background-color: blue;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}

.todos:hover {
    cursor: pointer;
    transition: all .45 linear;
    background-color:indigo;
}

h1 {
    color: yellow;
}

table {
    width: 87%;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px auto;
    background-color: gold;
}

th, td {
    border: 1px solid black;
}

.box-loader {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    border-width: 3px 2px 3px 2px;
    border-style: solid dotted solid dotted;
    border-color: #de3500 rgba(255, 255, 255,0.3) #fff rgba(151, 107, 93, 0.3);
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s rotate linear infinite;
 }
 .loader:before , .loader:after{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color:#fff;
    transform: translate(-10px, 19px) rotate(-35deg);
  }
 .loader:after {
    border-color: #de3500 #0000 #0000 #0000 ;
    transform: translate(32px, 3px) rotate(-35deg);
  }
   @keyframes rotate {
    100%{    transform: rotate(360deg)}
  }

.show {
    display: flex;
}
  
       



